<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

 <footer class="fixed-bottom mt-2 bg-white" th:fragment="sidebar" style="position:absolute;">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span><small class="text-muted">Copyright </small><i class="fa fa-copyright text-muted"></i> <small class="text-muted">2020 </small><a
					href="https://www.ecgc.in/" style="color:#000;"><small class="text-muted">ECGC Ltd, India</small></a>.
				 <small class="text-muted">All rights reserved.</small></span>
          </div>
        </div>
</footer>
    
</body>
</html>